body {
  padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}
.postTan{
  background: #d0a0d0;
  padding: 0 30px;
  display: none;
  height: 80px;
  line-height: 80px;
}
.postTan .n1{
  float: left;
}
.postTan .n2{
  float: right;
}
.postTan .n2 a{
  padding: 0 20px;
}
.modal-backdrop{
    background: none!important;
}
.container .cate .left{
    float: left;
}
.container .cate .right{
    float: right;
    margin-top: 15px;
}